@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Raleway&display=swap");

$color1: #fff;
$color2: #232323;
$color3: #000;
$color4: #c21b1b;
$color5: #989898;
$color6: rgb(18, 54, 197);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand {
    max-height: 100px;
}

span {
    color: $color1;
}

.custom-bg-color {
    background-color: $color2;
}

.zoom-on-hover:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.estudio{
    display: flex;
    align-items: center;
    text-align: left;
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Multimedia/camara1.jpeg);
    .camara{
        max-width: 60%;
        padding: 20px;
        text-align: right;
        color: $color1;
    }
    h2{
        font-size: 2em;
        margin-bottom: 20px;
        color: $color6;
        display: flex;
        text-align: left;
    }
}

footer {
    text-align: center;
    font-size: 30px;
    background-color: $color3;
    color: $color1;
    padding: 20px;
}
footer p {
    font-size: 20px;
}
footer a {
    color: $color1;
    text-decoration: none;
    font-size: 40px;
    letter-spacing: 15px;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.collage{
    background-color: $color5;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8,200px);
    padding: 15px;
    grid-gap: 15px;
    .item{
        border: 2px solid $color3;
        background-size: cover;
        background-position: center;
    }
    .item1{
        background-image: url(/Multimedia/camara1.jpeg);
    }
    .item2{
        background-image: url(/Multimedia/camara2.jpeg);
    }
    .item3{
        background-image: url(/Multimedia/camara3.jpeg);
    }
    .item4{
        background-image: url(/Multimedia/camara4.jpeg);
    }
    .item5{
        background-image: url(/Multimedia/camara5.jpeg);
    }
    .item6{
        background-image: url(/Multimedia/camara6.jpeg);
    }
    .item7{
        background-image: url(/Multimedia/office-820390_1280.jpg);
    }
    .item8{
        background-image: url(/Multimedia/office-932926_1280.jpg);
    }
}




.formulario{
    background-color: $color5;
    color: $color1;
}

.container{
    background-color: transparent;
}