@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Raleway&display=swap");

$color1: #fff;
$color2: #232323;
$color3: #000;
$color4: #c21b1b;
$color5: #989898;
$color6: rgb(18, 54, 197);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand {
    max-height: 100px;
}

span {
    color: $color1;
}

.custom-bg-color {
    background-color: $color2;
}

.zoom-on-hover:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.estudio{
    display: flex;
    align-items: center;
    text-align: left;
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Multimedia/camara1.jpeg);
    .camara{
        max-width: 60%;
        padding: 20px;
        text-align: right;
        color: $color1;
    }
    h2{
        font-size: 2em;
        margin-bottom: 20px;
        color: $color6;
        display: flex;
        text-align: left;
    }
}

footer {
    text-align: center;
    font-size: 30px;
    background-color: $color3;
    color: $color1;
    padding: 20px;
}
footer p {
    font-size: 20px;
}
footer a {
    color: $color1;
    text-decoration: none;
    font-size: 40px;
    letter-spacing: 15px;
}